.title {
    font-weight: 700;
    font-size: 22px;
    margin: 25px auto 8px 32px;
}

.cardholder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    justify-items: center;

    & > div {
        box-sizing: content-box;
        margin-bottom: 24px;
        width: 100%;
        min-width: 224px;
    }
    .row {
        grid-column: 1 / -1;
    }
}
.show-more-wrapper {
    display: flex;
    justify-content: flex-end;
}
.loader-wrapper {
    display: flex;
    justify-content: center;
}
.hide {
    display: none;
}

@media screen and (max-width: 1024px) {
    .cardholder {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 24px;
    }
}
@media screen and (max-width: 760px) {
    .cardholder {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 540px) {
    .cardholder {
        grid-template-columns: repeat(1, 1fr);
    }
}
